*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Semibold.ttf);
}

@font-face{
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Black.ttf);
}


body{
    background-color: #252525;
    font-family: 'Gilroy', sans-serif;
    color: #FFBEE1;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main{
    overflow: hidden;
    background-color: #252525;
    background-position: top center;
    background-repeat: no-repeat;
}

/* header */
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}
header{
    padding: 40px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu{
display: flex;
justify-content: space-between;
gap: 15px;
}

.menu-list{
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-item a{
    color: #FFBEE1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover{
    border-bottom: 2px solid #FFBEE1;
}

.currency{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    width: 55px;
    height: 52px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
}

.button{
    box-shadow: 0 0 54px 0 #626262;
    background: #8c647f;
    border-radius: 10px;
    width: 138px;
    height: 53px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border: 0;
    text-decoration: none;
}
.button:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}

.main-title{
    font-family: var(--font-family);
    font-weight: 1500;
    font-size: 30px;
    color: #FFBEE1;
}
.menu-section{
    list-style: none;
    display: flex;
    gap: 42px;
}
.menu-section-item a{
    color: #FFBEE1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.menu-section-item a:hover{
    color: rgb(221, 204, 157);
}

.main-section{
    max-width: 1440px;
    margin: 0 auto;
}
.main-gap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

/* main card */

.main-content-card{
    margin-top: 56px;
    margin-bottom: 100px;
}
.card{
    width: 239px;
    height: 390px;
}
.cards-img{
    margin-top: 35px;
}
.card-img{
    border-radius: 10px;
    width: 239px;
    height: 262px;

    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.card-img:hover {
    -webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
            transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
  }
.card-info{
    padding-top: 20px;
}
.card-container{
    max-width: 239px;
    margin: 0 auto;
}
.card-rating{
    width: 62px;
    height: 33px;
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -300px;
    margin-left: 165px;
}
.about{
    text-decoration: none;
}
.card-name{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16.7px;
    color: #FFBEE1;
    margin-top: 11.42px;
    margin-bottom: 4.15px;
    max-width: 327px;
}
.card-category{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    max-width: 227px;
}
.card-holder{
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder2{
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder4{
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.button-new{
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border: 2px solid #D6A58A;
    border-radius: 10px;
    width: 200px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
}

/*footer*/

footer{
    min-height: 70px;
    width: 100%;
}
.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer_icons{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.footer_icon img  {
    box-shadow: 0 0 54px 0 #626262;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.footer_icon:hover{
    opacity: 0.3;
    transition: 0.4S;
}
.footer_menu{
    margin-bottom: 40px;
}
.footer_texts{
    margin-bottom: 30px;
}
footer .footer_text1{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
footer .footer_text2{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.button1{
    background: #d68aab;
    border-color: #D6A58A;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 220px;
    position: relative;
    margin-top: 10px;
}
 /* Стили модального окна */
 .modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: rgb(63, 63, 63);
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #404040;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-primary {
    background: #ffaee5;
    border-color: #ffaee5;
    color: #fff;
}
.btn-primary:hover{
    background: #aaa;
}

/*оценка в звездах*/
.rating-area {
	overflow: hidden;
	width: 220px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 35px;
	padding: 0;
	cursor: pointer;
	font-size: 25px;
	line-height: 25px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #ffaee5;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #ffaee5;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #ffaee5;
	text-shadow: 1px 1px #ffaee5;
}
.rate-area > label:active {
	position: relative;
}

.form-fields {
    width: 100%;
}

.form-field {
    margin: 10px 0;
}
input{
    left: 45px;
    height: 45px;   
    width: 96%;
    color:#ffaee5;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #ffaee5;
    border-radius: 9px;
    padding-left: 25px;
    border-color: #ffaee5;
}
textarea{
    background: #fff; 
    width: 96%;
    height: 110px;
    border: 3px solid #ffaee5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight: 300;
    color:#ffaee5;
    padding-left:25px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
@media screen and (max-width: 1024px){
    .container{
        scale: 0.9;
    }
    .main-section{
        scale: 0.95;
    }
    .main-content-card{
        margin-top: -40px;
        scale: 0.95;
    }
    .card-holder{
        gap: 18px;
    }
    .card-holder2{
        gap: 20px;
    }
    .card-holder4{
        gap: 18px;
    }
    .main-gap{
        gap: 66px;
    }
}
@media screen and (max-width: 768px){
    header{
        scale: 0.9;
    }
    .container{
        scale: 0.9;
    }
    .main-section{
        scale: 0.85;
        gap: 20px;
    }
    .main-title{
    font-size: 26px;
    }
    .main-gap{
        gap: 50px;
    }
    .main-content-card{
        margin-top: -90px;
        scale: 0.9;
        margin-bottom: 0;
    }
    .card-holders{
        gap: 10px;
        scale: 0.75;
        margin-left: -115px;
        margin-top: -80px;
    }
}
@media screen and (max-width: 426px){
    header .container {
		scale: 0.9;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -40px;
        gap: 2px;
	}
    .main-content .container {
        display: flex;
        margin-bottom: 0px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn-menu{
        margin-top: 20px;
    }
    .main-gap {
        display: flex;
        gap: 33px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        scale: 0.9;
    }
    .menu-section {
        gap: 32px;
    }
    .card-holders {
        flex-wrap: nowrap;
        max-width: 420px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        scale: 0.55;
    }
    .card-holders {
        gap: 33px;
        margin-left: -90px;
        margin-top: -360px;
    }
    .card-holder{
        display: ruby;
    }
    .card-holder2{
        display: ruby;
    }
    .card-holder4{
        display: ruby;
    }
    .main{
        margin-bottom: -140px;
    }
    footer{
    scale: 0.8;
        }
}
@media screen and (max-width: 376px){
    .card-holders {
        scale: 0.5;
    }
    .card-holders {
        gap: 33px;
        margin-left: -110px;
        margin-top: -400px;
    }
    .main-gap{
        margin-left: -30px;
    }
}
@media screen and (max-width: 320px){
    .card-holders {
        flex-wrap: wrap;
        max-width: 420px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        scale: 0.85; 
        align-content: center;
        margin-left: 0px;
    margin-top: -880px;
    }
    .main-section{
        scale: 0;
    }
}
