*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Semibold.ttf);
}

@font-face{
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Black.ttf);
}

body{
    background-color: #252525;
    font-family: 'Gilroy', sans-serif;
    color: #FFBEE1;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main{
    overflow: hidden;
    background-color: #252525;
    background-position: top center;
    background-repeat: no-repeat;
}

/* header */
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}
header{
    padding: 40px 0;
}
.log{
    height: 80px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu{
display: flex;
justify-content: space-between;
gap: 15px;
}

.menu-list{
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-item a{
    color: #FFBEE1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover{
    border-bottom: 2px solid #FFBEE1;
}

.currency{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    width: 55px;
    height: 52px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
}

.button{
    box-shadow: 0 0 54px 0 #626262;
    background: #8c647f;
    border-radius: 10px;
    width: 138px;
    height: 53px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border: 0;
    text-decoration: none;
}
.button:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}

.main-title{
    font-family: var(--font-family);
    font-weight: 1500;
    font-size: 35px;
    color: #FFBEE1;
}
.menu2{
    margin-left: 79px; 
}
.menu-section{
    list-style: none;
    display: flex;
    gap: 42px;
}
.menu-section-item a{
    color: rgba(255, 255, 255, 0.35);
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.menu-section-item a:hover{
    color: white;
}

.main-section{
    max-width: 1440px;
    margin: 0 auto;
}
.main-info{
    margin-right: 62px;
}
/* main-content-img */
.main-content-img{

    margin-top: 1%;
    height: 830px;
}
.main_index_img{
    margin-left: 15%;
    display: flex;
    justify-content: center;
}
/* main-content-video */
.bgvideo {
    width:100%;
    height: 70%;
    left:0px;
    right:0px;
}
.main-content-video{
    margin-bottom: 100px;
}
/* main */

.main-content .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main-image{
    width: 400px;

    filter: grayscale(0); /* Черно-белый фильтр для изображения */
    transition: 1s; /* Время изменения цвета изображения */
}
.main-image:hover {
    filter: grayscale(1); /* Цветное изображение при наведении */

}
  
.main-info{
    margin-top: 30px;
    max-width: 600px;
}
.main-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #FFBEE1;
    max-width: 463px;
    
}
.main-title1{
    font-weight: 700;
    font-size: 23px;
    line-height: 110%;
    color: #FFBEE1;
    max-width: 600px;
    text-shadow: 0 0 10px 0 #ff9a3c;
}
.main-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFBEE1;
    margin-bottom: 47px;
    margin-top: 38px;
}
.main-action1{
    margin-left: -1px;
}

/* main card */
.main-info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    max-width: 540px;
}
.main-title2{
    font-family: var(--font-family);
    font-weight: 1500;
    font-size: 35px;
    color: #FFBEE1;
}
.main-content-card{
    margin-top: 56px;
    margin-bottom: 100px;
}
.card{
    width: 239px;
    height: 390px;
}
.cards-img{
    margin-top: 35px;
}
.card-img{
    border-radius: 10px;
    width: 239px;
    height: 262px;

    filter: blur(3px); /* Размытие изображения */
    transition: 1s; /* Время перехода */
}
.card-img:hover {
    filter: blur(0); /* Отменяем размытие */
  }
.card-info{
    padding-top: 20px;
}
.card-container{
    max-width: 239px;
    margin: 0 auto;
}
.card-rating{
    width: 62px;
    height: 33px;
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -300px;
    margin-left: 165px;
}
.about{
    text-decoration: none;
}
.card-name{
    font-weight: 700;
    font-size: 16.7px;
    color: #FFBEE1;
    margin-top: 11.42px;
    margin-bottom: 4.15px;
    max-width: 327px;
}
.card-category{
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    max-width: 227px;
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder2{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder4{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 22.85px;
    justify-content: space-between;
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 40px;
}
.button-new{
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border: 2px solid #D6A58A;
    border-radius: 10px;
    width: 200px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;

    display: flex;
    justify-content: center;
    text-decoration: none;
    line-height: 52px;
}
.button-new:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}
/*footer*/

footer{
    min-height: 70px;
    width: 100%;
}
.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer_icons{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.footer_icon img  {
    box-shadow: 0 0 54px 0 #626262;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.footer_icon:hover{
    opacity: 0.3;
    transition: 0.4S;
}
.footer_menu{
    margin-bottom: 40px;
}
.footer_texts{
    margin-bottom: 30px;
}
footer .footer_text1{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
footer .footer_text2{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    header{
		scale: 0.95;
	}
    .container{
        scale: 0.95;
    }
    .main-info2{
        scale: 0.95;
    }
    .main-content-card{
        scale: 0.95;
    }
    .card-holder{
        gap: 22px;
    }
    .main-btn{
        scale: 0.95;  
    }
    footer{
        scale: 0.95;  
    }
}
@media screen and (max-width: 768px){
    header{
		scale: 0.9;
	}
    .main-content .container {
        display: flex;
        margin-bottom: 0px;
    }
    .main-image{
        margin-top: -37px;
    }
    .main-content-img{
        margin-top: -5%;
        scale: 0.75;
        margin-bottom: -10%;
    }
    .main_index_img{
        margin-left: -12%;
    }
    .main-content-video{
        margin-bottom: 0%;
    }
    .main-info{
        scale: 0.9;
        margin-right: 0;
    }
    .container{
        scale: 0.9;
    }
    .main-info2{
        scale: 0.9;
    }
    .main-content-card{
        scale: 0.9;
        margin-top: 0px;
    }
    .card-holder{
        gap: 22px;
    }
    .main-btn{
        scale: 0.9;  
        margin-top: 0;
    }
    footer{
        scale: 0.9;  
    }
}
@media screen and (max-width: 425px){
    header .container {
		scale: 0.9;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -40px;
	}
    .main-content .container {
        display: flex;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    .btn-menu{
        margin-top: 20px;
    }
    .main-image{
        margin-top: -37px;
    }
    .main-content-img{
        margin-top: -25%;
        scale: 0.45;
        margin-bottom: -30%;
    }
    .main_index_img{
        margin-left: -63%;
    }
    .main-content-video{
        margin-bottom: 0%;
    }
    .main_img{
        margin-bottom: -20%;
    }
    .main-info{
        scale: 0.9;
        margin-right: 0;
    }
    .container{
        scale: 0.9;
    }
    .main-info2{
        scale: 0.9;
    }
    .main-content-card{
        scale: 0.9;
        margin-top: -95px;
    }
    .card-holder{
        margin-left: 90px;
    }
    .main-btn{
        scale: 0.9;  
        margin-top: 0;
    }
    footer{
        scale: 0.9;  
    }
}
@media screen and (max-width: 375px){
    .main-content .container {
        display: flex;
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    header{
        scale: 0.85;
        margin-top: -15px;
    }
    .main-image{
        margin-left: -29px;
    }
    .main-content-img{
        margin-top: -35%;
        scale: 0.4;
        margin-bottom: -40%;
    }
    .main_index_img{
        margin-left: -76%;
    }
    .main-content-video{
        margin-bottom: 0%;
    }
    .main_img{
        scale: 0.8;
        margin-bottom: -20%;
    }
    .main-info{
        margin-top: -20px;
        scale: 0.8;
    }
    .container{
        scale: 0.9;
    }
    .main-info2{
        scale: 0.9;
    }
    .main-section{
        scale: 0.91;
        margin-top: -50px;
    }
    .main-content-card{
        scale: 0.85;
        margin-top: -170px;
    }
    .card-holder{
        margin-left: 70px;
    }
    .main-btn{
        scale: 0.85;  
        margin-top: -20px;
    }
    footer{
        scale: 0.85; 
        margin-top: -50px; 
    }
}
@media screen and (max-width: 320px){
    .main-content .container {
        scale: 0.8;
        margin-left: -25px;
        margin-top: -70px;
    }
    header{
        scale: 0.75;
        margin-top: -30px;
    }
    .main-image{
        margin-left: -29px;
    }
    .main-content-img{
        margin-top: -55%;
        scale: 0.35;
        margin-bottom: -50%;
    }
    .main_index_img{
        margin-left: -100%;
    }
    .main-info{
        margin-top: -20px;
        scale: 0.8;
    }
    .main-info2{
        scale: 0.9;
    }
    .main-section{
        scale: 0.8;
        margin-top: -90px;
        margin-left: -20px;
    }
    .main-content-card{
        scale: 0.75;
        margin-top: -240px;
        margin-left: -14px;
    }
    .main-btn{
        scale: 0.89;  
        margin-top: -20px;
    }
    footer{
        scale: 0.7; 
        margin-top: -180px; 
    }
}