*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Semibold.ttf);
}

@font-face{
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Black.ttf);
}


body{
    background-color: #252525;
    font-family: 'Gilroy', sans-serif;
    color: #FFBEE1;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main{
    overflow: hidden;
    background-color: #252525;
    background-position: top center;
    background-repeat: no-repeat;
}

/* header */
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}
header{
    padding: 40px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu{
display: flex;
justify-content: space-between;
gap: 15px;
}

.menu-list{
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-item a{
    color: #FFBEE1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover{
    border-bottom: 2px solid #FFBEE1;
}

.currency{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    width: 55px;
    height: 52px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
}

.button{
    box-shadow: 0 0 54px 0 #626262;
    background: #8c647f;
    border-radius: 10px;
    width: 138px;
    height: 53px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border: 0;
    text-decoration: none;
}
.button:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}

.main-title{
    font-family: var(--font-family);
    font-weight: 1500;
    font-size: 30px;
    color: #FFBEE1;
}
.menu-section{
    list-style: none;
    display: flex;
    gap: 42px;
}
.menu-section-item a{
    color: #FFBEE1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.menu-section-item a:hover{
    color: rgb(221, 204, 157);
}

.main-section{
    max-width: 1440px;
    margin: 0 auto;
}
.main-gap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

/* main card */

.main-content-card{
    margin-top: 56px;
    margin-bottom: 100px;
}
.card{
    width: 239px;
    height: 390px;
}
.cards-img{
    margin-top: 35px;
}
.card-img{
    border-radius: 10px;
    width: 239px;
    height: 262px;

    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.card-img:hover {
    -webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
            transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
  }
.card-info{
    padding-top: 20px;
}
.card-container{
    max-width: 239px;
    margin: 0 auto;
}
.card-rating{
    width: 62px;
    height: 33px;
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -300px;
    margin-left: 165px;
}
.about{
    text-decoration: none;
}
.card-name{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16.7px;
    color: #FFBEE1;
    margin-top: 11.42px;
    margin-bottom: 4.15px;
    max-width: 327px;
}
.card-category{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    max-width: 227px;
}
.card-holder{
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder2{
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.card-holder4{
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    gap: 22.85px;
    justify-content: space-between;
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.button-new{
    box-shadow: 0 0 54px 0 #ffd98f;
    background-color: #D6A58A;
    border: 2px solid #D6A58A;
    border-radius: 10px;
    width: 200px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
}

/*footer*/

footer{
    min-height: 70px;
    width: 100%;
}
.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer_icons{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.footer_icon img  {
    box-shadow: 0 0 54px 0 #626262;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.footer_icon:hover{
    opacity: 0.3;
    transition: 0.4S;
}
.footer_menu{
    margin-bottom: 40px;
}
.footer_texts{
    margin-bottom: 30px;
}
footer .footer_text1{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
footer .footer_text2{
    color:#FFBEE1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .container{
        scale: 0.9;
    }
    .main-section{
        scale: 0.95;
    }
    .main-content-card{
        margin-top: -40px;
        scale: 0.95;
    }
    .card-holder{
        gap: 18px;
    }
    .card-holder2{
        gap: 20px;
    }
    .card-holder4{
        gap: 18px;
    }
    .main-gap{
        gap: 66px;
    }
}
@media screen and (max-width: 768px){
    header{
        scale: 0.9;
    }
    .container{
        scale: 0.9;
    }
    .main-section{
        scale: 0.85;
        gap: 20px;
    }
    .main-title{
    font-size: 26px;
    }
    .main-gap{
        gap: 50px;
    }
    .main-content-card{
        margin-top: -90px;
        scale: 0.9;
        margin-bottom: 0;
    }
    .card-holders{
        gap: 10px;
        scale: 0.75;
        margin-left: -115px;
        margin-top: -80px;
    }
}
@media screen and (max-width: 426px){
    header .container {
		scale: 0.9;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -40px;
        gap: 2px;
	}
    .main-content .container {
        display: flex;
        margin-bottom: 0px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn-menu{
        margin-top: 20px;
    }
    .main-gap {
        display: flex;
        gap: 33px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        scale: 0.9;
    }
    .menu-section {
        gap: 32px;
    }
    .card-holders {
        flex-wrap: nowrap;
        max-width: 420px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        scale: 0.55;
    }
    .card-holders {
        gap: 33px;
        margin-left: -90px;
        margin-top: -360px;
    }
    .card-holder{
        display: ruby;
    }
    .card-holder2{
        display: ruby;
    }
    .card-holder4{
        display: ruby;
    }
    .main{
        margin-bottom: -140px;
    }
    footer{
    scale: 0.8;
        }
}
@media screen and (max-width: 376px){
    .card-holders {
        scale: 0.5;
    }
    .card-holders {
        gap: 33px;
        margin-left: -110px;
        margin-top: -400px;
    }
    .main-gap{
        margin-left: -30px;
    }
}
@media screen and (max-width: 320px){
    .card-holders {
        flex-wrap: wrap;
        max-width: 420px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        scale: 0.85; 
        align-content: center;
        margin-left: 0px;
    margin-top: -880px;
    }
    .main-section{
        scale: 0;
    }
}
